/* universal selector - applies to entire page*/
* {
    background-color: #feeae9;
    color: #ce676a;
}

/* tag selector - applies to entire body element*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* class selector - applies to all elements with class of "name"*/
.name {
    position: relative;
    margin-top: 0;
    padding: 75px;
    text-align: center;
    font-size: 150px;
}

/* class and tag selector - applies to all elements with the anchor (<a>) tag within the element with class of "menu"*/
/* this section gives css to the link color for the nav bar*/
.menu a:link {
    color: #ce676a;
    text-decoration: none;
}

.menu a:visited {
    color: #ce676a;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ce676a;
    color: #feeae9;
    text-decoration: none;
    border-radius: 5px;
    width: auto
}

.menu a:active {
    background-color: #ce676a;
    color: black;
    text-decoration: none;
}

/* tag selector - applies to entire nav element*/
nav {
    float: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
}

/* multiple tag selector - applies to the ul element within the nav element */
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: auto;
}

/* multiple tag selector - applies to the image tag <img> within the ul element within the nav element */
nav ul img {
    width: 5%;
    height: 5%;
}

/* multiple tag selector - applies to the list item tag <li> within the ul element within the nav element */
nav ul li {
    outline: #ce676a solid 2px;
    font-family: Consolas, Menlo, "courier new", monospace;
    font-size: 35px;
    display: inline;
    margin-left: 400px;
    border-radius: 5px;
    width: fit-content;
}

/* class selector - applies to all elements with class of "profile"*/
.profile {
    margin: 200px;
}

/* class and tag selector - applies to all elements with the image (<img>) tag within the element with class of "profile"*/
.profile img {
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    border-radius: 10%;
    border: 20px;
    /* other color options: aqua, aquamarine, teal -or- orange, hotpink, #aa336a*/
    background: linear-gradient(to right, #aa336a, hotpink, orange);
    display: flex;
    align-content: center;
    justify-content: center;
}

/* class selector - applies to all elements with class of "main"*/
.main {
    padding: 50px;
}

/* tag selector - applies to all h2 tags*/
h2 {
    text-align: center;
    font-size: 100px;
    padding: 0%;
    border: 0%;
    margin: 0%;
}

/* tag selector - applies to all h3 tags*/
h3 {
    text-align: center;
    font-size: 100px;
    -webkit-text-stroke: 2px #ce676a;
    -webkit-text-fill-color: #feeae9;
    transform: skew(30deg);
    padding: 0%;
    border: 0%;
    margin: 0%;
}

/* tag selector - applies to all h4 tags*/
h4 {
    font-size: 75px;
    text-align: center;
    margin: 40px;
    padding: 0;
}

/* class selector - applies to all elements with class of "card"*/
.card {
    display: flex;
    line-height: 1.5;
}

/* class and tag selector - applies to all elements with the article (<article>) tag within the element with class of "card"*/
.card article {
    margin: 3rem;
    box-shadow: 4px 8px 8px 2px #ce676a;
    border-radius: 25px;
    flex: 1 0 175px
}

/* class and tag selector - applies to all image (<img>) tags within the element with class of "card"*/
.card img {
    width: 50%;
    height: 50%;
    border-radius: 5%;
    border: 1px solid whitesmoke;
    box-shadow: 10px 10px 30px 3px #ce676a;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 50%
}

/* class and tag selector - applies to all elements with the anchor (<a>) tag within the element with class of "project-link"*/
/* this section gives css to the link color for the project links*/
.project-link a:link {
    color: #ce676a;
    text-decoration: none;
}

.project-link a:visited {
    color: #ce676a;
    text-decoration: none;
}

.project-link a:hover {
    background-color: #ce676a;
    color: #feeae9;
    text-decoration: none;
    border-radius: 5px;
    width: auto;
}

.project-link a:active {
    background-color: #ce676a;
    color: black;
    text-decoration: none;
}

/* class selector - applies to all elements with class of "project-link"*/
.project-link {
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* class and tag selector - applies to all list item (<li>) tags within the element with class of "project-link"*/
.project-link li {
    outline: #ce676a solid 2px;
    border-radius: 5px;
    line-height: normal;
}

/* class selector - applies to all elements with class of "project-text"*/
.project-text {
    background-color: whitesmoke;
    border-radius: 0 0 25px 25px;
    font-size: 24px;
    box-shadow: 0 0 4px 2px #ce676a;
    margin: auto;
    width: 100%;
    height: 265px;
}

/* tag selector - applies to entire footer element*/
footer {
    outline: blue dashed 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}