:root {
    --light: #feeae9;
    --dark: #ce676a;
    --accent: whitesmoke;
}

/*---------------BODY---------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
    margin: 0;
}

/*---------------NAV---------------*/
.menu {
    background-color: var(--dark);
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 30;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 30px;
    margin-top: 0;
    height: 50px;
}

.menu a {
    color: var(--light);
    text-decoration: none;
}

/*---------------HEADER---------------*/
header {
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 150px;
    margin-bottom: 0;
    width: 80%;
}

header p {
    font-size: 50px;
    margin-top: 0;
    width: 80%;
}

/*----------------ABOUT----------------*/
#about {
    background-color: var(--dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    text-align: center;
}

.about-title h2 {
    color: var(--light);
    font-size: 60px;
    margin: 0;
}

.about-title h3 {
    font-size: 60px;
    -webkit-text-stroke: 2px var(--light);
    -webkit-text-fill-color: var(--dark);
    transform: skew(30deg);
    margin: 0;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 50px;
}

.profile img {
    width: 300px;
    border-radius: 10px;
}

.profile article p {
    color: var(--light);
    margin: 10px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

/*----------------PROJECTS----------------*/
#projects {
    height: 100vh;
}

.projects-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    text-align: center;
}

.projects-title h2 {
    color: var(--dark);
    font-size: 60px;
    margin: 0;
}

.projects-title h3 {
    font-size: 60px;
    -webkit-text-stroke: 2px var(--dark);
    -webkit-text-fill-color: var(--light);
    transform: skew(30deg);
    margin: 0;
}

/*---------------TOP PROJECT---------------*/
.top-project {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-card {
    width: 92%;
    height: 100%;
    background-color: var(--accent);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: var(--dark) solid 2px;
}

h4 {
    text-align: center;
    color: var(--dark);
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-card img {
    height: 70%;
    margin-left: 10px;
    margin-right: 10px;
}

.top-card p {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/*--------------PROJECT CARDS--------------*/
.project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;

}

.project-cards section {
    height: 100%;
    width: 30%;
    background-color: var(--dark);
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5 {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--accent);
}

.project-cards img {
    height: 80%;
}

/*----------------------------------------CONTACT----------------------------------------*/

#contact {
    background-color: var(--dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    text-align: center;
}

.contact-title h2 {
    color: var(--light);
    font-size: 60px;
    margin: 0;
}

.contact-title h3 {
    font-size: 60px;
    -webkit-text-stroke: 2px var(--light);
    -webkit-text-fill-color: var(--dark);
    transform: skew(30deg);
    margin: 0;
}

/*--------------------CONTACT LINK COLORS--------------------*/

.contact-links a:link {
    color: var(--light);
    text-decoration: none;
}

.contact-links a:visited {
    color: var(--accent);
    text-decoration: none;
}

.contact-links a:hover {
    background-color: var(--light);
    color: var(--dark);
    text-decoration: none;
    border-radius: .3rem;
    padding: 5px;
}

.contact-links a:active {
    color: var(--accent);
    color: black;
    text-decoration: none;
}

/*--------------------CONTACT LINKS--------------------*/
.contact-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 30%;
    height: 50%;
}

.contact-links li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: 25px;
}

/*--------------------CONTACT ICONS--------------------*/
.linkedin,
.github,
.email,
.phone {
    width: 50px;
    height: auto;
    margin-right: 10%;
}

/*----------------------------------------FOOTER----------------------------------------*/
footer {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------MEDIA CARDS----------------------------------------*/