:root {
    --light: #feeae9;
    --dark: #ce676a;
    --accent: whitesmoke;
}

/*---------------BODY---------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/simon-berger-twukN12EN7c-unsplash.png);
    background-size: cover;
    background-position: center center;
    margin: 0;
}

.glass-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background: rgba(255, 255, 255, 0.561);
    backdrop-filter: saturate(180%) blur(10px);
    width: 80%;
    border-radius: 15px;
    margin-top: 10%;
    margin-bottom: 10%;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .main {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

/*---------------NAV---------------*/
.menu {
    background-color: var(--dark);
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 30;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 30px;
    margin-top: 0;
    height: 50px;
}

.menu a {
    color: var(--light);
    text-decoration: none;
}

/*---------------HEADER---------------*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--dark);
}

/*---------------DEMO---------------*/
.demo {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo img {
    width: 90%;
    border: var(--dark) solid 3px;
}

/*---------------LINKS---------------*/
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 75%;
}

.links ul li {
    outline: var(--dark) solid 2px;
    background-color: #ce676a89;
    list-style: none;
    font-size: 20px;
    padding: 5px;
}

/*---------------DETAILS---------------*/
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-----------------TECH-----------------*/
.build {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.tech {
    width: 75%;
}

.tech h2 {
    text-align: center;
    font-size: 30px;
}

.tech ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}

.tech ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

/*-----------------APIS-----------------*/
/* .apis {
    outline: orange dashed 2px;
}

.apis h2 {
    outline: green dashed 2px;

}

.apis ul {
    outline: blue dashed 2px;
} */

/*-----------------INFO-----------------*/
.info {
    width: 60%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}